body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1.7;
  overflow-x: hidden;
  background: rgba(146, 146, 146, 0.11);
}
.paragraph_title {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}
.font {
  font-family: "Arial", Helvetica, sans-serif;
}
.blend {
  mix-blend-mode: exclusion;
}
.header_pic {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 600px;
  background: url('../../site/images/benchwide1600.jpg') center 0 no-repeat;
  background-attachment: fixed;
  position: relative;
  border-bottom: solid 20px rgba(204, 204, 204, 0.38);
}
header .top_header {
  transform: translateY(0px);
  height: 50px;
  z-index: 3;
  top: 0px;
  background: #FFF;
  width: 100%;
  transition: all 0.5s ease;
  position: fixed;
  overflow: hidden;
  font-family: 'Helvetica Neue', sans-serif;
}
.top_header_inner {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}
.top_header_inner h1 {
  margin: 0;
  transform: translateY(50px);
  transition: all 0.3s ease;
}
.header_inside {
  width: 100%;
  position: absolute;
  color: white;
  text-align: center;
  vertical-align: bottom;
  top: 40%;
}
.header_inside {
  text-align: left;
  padding-left: 10%;
}
.title {
  font-size: 400%;
  line-height: 0.9;
  display: inline-block;
  margin: 0% 1% 0% 0%;
  transition: all 1s ease;
}
.first, .second {
  transition: all 1s ease;
}
.content {
  width: 70%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 5px 15px 5px 15px;
}
.header_inside section p {
  background: rgba(86, 27, 27, 0.5);
  width: 40%;
  padding: 10px;
  border-radius: 4px;
}
.menu_fixed {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 10%;
  ;
  height: 10%;
  background-color: black;
  transform: translateY(-100%);
  transition: all 1s ease;
}
footer {
  margin-top: 50px;
}
.code_toggle {
  padding: 10px;
  border-radius: 5px;
  background-color: #F5F3F3;
  border: thin solid grey;
  cursor: pointer;
}
#val_code {
  text-align: center;
}
@media only screen and (max-width: 435px) {
  #guide_notice {
    top: 30%;
  }
  .header_pic {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-image: url('../../site/images/benchwide500.jpg') center 0 no-repeat;
    background-size: contain;
    background-attachment: fixed;
    padding-top: 50%;
    position: relative;
    border-bottom: solid 20px rgba(204, 204, 204, 0.38);
    overflow: hidden;
  }
  .header_inside section p {
    background: rgba(86, 27, 27, 0.5);
    width: 85%;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.8em;
    margin: initial;
  }
  header .top_header {
    height: auto;
    min-height 20px;
    text-align: center;
  }
  .title {
    font-size: 200%;
    line-height: 0.9;
    display: inline-block;
    margin: 0% 1% 0% 0%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 5px 15px 5px 15px;
  }
  .top_header_inner h1 {
    margin: 0;
    font-size: 150%;
    transform: translateY(50px);
    transition: all 0.3s ease;
  }
}
@media only screen and (max-width: 773px) {
  #guide_notice {
    top: 30%;
  }
  .header_pic {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-image: url('../../site/images/benchwide500.jpg') center 0 no-repeat;
    background-size: contain;
    background-attachment: fixed;
    padding-top: 50%;
    position: relative;
    border-bottom: solid 20px rgba(204, 204, 204, 0.38);
    overflow: hidden;
  }
  .header_inside section p {
    background: rgba(86, 27, 27, 0.5);
    width: 85%;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.8em;
    margin: initial;
  }
  .top_header_inner h1 {
    margin: 0;
    font-size: 150%;
    transform: translateY(50px);
    transition: all 0.3s ease;
  }
  .title {
    font-size: 200%;
    line-height: 0.9;
    display: inline-block;
    margin: 0% 1% 0% 0%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 5px 15px 5px 15px;
  }
}
