.stop{
  height:100%;
  overflow:hidden;
}

.notice_center {
  display:none;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 1.2em;
  padding: 10px;
  border-radius:4px;
  color:#FFF;
  width: auto;
  max-width: 60%;
  border: medium solid red;
  background-color:rgba(181, 28, 28, 0.9);
  position: absolute;
}

.notice_top, .notice_bottom {
  display:none;
  font-size: 1.2em;
  font-family: "Arial", Helvetica, sans-serif;
  padding: 10px;
  border-radius:4px;
  color:#FFF;
  width: 300px;
  max-width: 60%;
  border: medium solid red;
  background-color:rgba(181, 28, 28, 0.9);
  position: absolute;
}

.notice_top:after, .notice_top:before {
	top: -24px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index:0
}

.notice_top:after {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid red;
}

.notice_top p, .notice_center p {
 display:block;
 text-align: right;
 padding: 0;
 margin:20px 0px 0px 0px;
 vertical-alignment: bottom;
 cursor:pointer;
 z-index:2;
 transition: color 0.5s ease;
}

.notice_top p:hover, .notice_center p:hover{
  color: black;
}

.notice_bottom:after, .notice_bottom:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index:0
}

.notice_bottom:after {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid red;
}

.notice_bottom p {
 display:block;
 text-align: right;
 padding: 0;
 margin:20px 0px 0px 0px;
 vertical-alignment: bottom;
 cursor:pointer;
 z-index:2;
}

#guide_notice [name=stop_notice]:before {
  content: '  cancel';
  margin-left: 20px;
}

@media only screen and (max-width: 435px) {
  .notice_top, .notice_bottom, .notice_center {
    font-size: 1em;
  }
}

@media only screen and (max-width: 773px) {
  .notice_top, .notice_bottom, .notice_center {
    font-size: 1em;
  }
}
