/* css location maybe temp - just for testing*/
#form_container{
  width:200px;
  margin:0 auto;
  text-align: center;
      margin-bottom: 15px;

}
#val_code {
    display:none;
}
.input_container {
  display: inline-block;
  margin: 5px 0px 5px 0px;
      width: 100%;
}

.input_container:last-child {
  display: inline-block;
  margin-bottom: 20px;
}

pre {
    white-space: pre-wrap;
    background: hsl(30,80%,90%);
    padding:15px;
    overflow: scroll;
    height: 600px;
    margin: 0;
    width: 80%;
    margin: 0 auto;
}

.panel form input {
  width: 95%;
  padding:3px;
  margin: 0px 0px 0px 0px;
}
.panel form{
  display: block;
    margin: 0 auto;
    width: 200px;
}
.panel form .errors {
	font-size: 0.8em;
	width:100%;
  z-index: 1;
  color: #FFF;
  padding: 5px;
  border-radius: 4px;
  background-color: #D7000D;
  margin:0;
  text-align: initial;
  transition: all 1s ease;
    /*transform: translateX(200px);*/
}

.panel .errors p {
	display:inline-block;
  margin:0;
	color:#FFF;
	padding:2px;
    /*transform: translateX(200px);*/
}

.connect_err {
	font-size: 0.9em;
	margin-left: 5px;
	color:rgb(157, 2, 7);
}

.panel form .errors_a p {
	font-size: 0.8em;
	width:100%;
    z-index: 1;
    color: #D7000D;
    font-weight:bold;
    margin:0;
    padding: 5px;
    border-radius: 4px;
    transition: all 1s ease;
    /*transform: translateX(200px);*/
}



@media only screen and (max-width: 435px) {
  .input_container {
      width: 90%;
      padding: 0px;
      margin: 5px;
  }
  .panel form input {
    width: 95%;

  }

.panel{
	overflow:hidden;
	/* width:90%; */
	text-align: center;
}
code {
	width:300px;
	overflow:hidden;
}

pre {
	white-space: pre-wrap;
    background: hsl(30,80%,90%);
    padding: 15px;
    overflow: scroll;
    height: 600px;
    margin: 0;
    width: 90%;
    margin: 0 auto;
}

}

@media only screen and (max-width: 773px) {

  .input_container {
      width: 100%;
      padding: 0px;
      margin: 5px;
  }
  .panel form input {
    width: 95%;
  }

  pre {
	white-space: pre-wrap;
    background: hsl(30,80%,90%);
    padding: 15px;
    overflow: scroll;
    height: 600px;
    margin: 0;
    width: 90%;
    margin: 0 auto;
}

}
